@import url("https://fonts.googleapis.com/css2?family=Poller+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: black;
}
body {
  background-color: whitesmoke;
}
header {
  display: flex; /* Используем flexbox для выравнивания элементов внутри header */
  justify-content: space-between; /* Распределяем пространство между элементами */
  align-items: center; /* Выравниваем элементы по вертикали по центру */
  padding: 10px 20px; /* Добавляем отступы сверху/снизу и слева/справа */
  background-color: #646464; /* Светлый фон для header (опционально) */
}

header h1 {
  font-size: 2em; /* Увеличиваем размер шрифта заголовка */
  margin: 0; /* Убираем стандартные отступы заголовка */
  margin-left: 1%;
  text-transform: uppercase; /* Делаем текст заглавным */
  color: white; /* Темный цвет текста заголовка (опционально) */
}

nav ul {
  list-style: none; /* Убираем маркеры списка */
  padding: 0;
  margin: 0;
  margin-left: -40%;
  display: flex; /* Располагаем элементы списка в строку */
}

nav ul li {
  margin-left: 10px;
  text-transform: uppercase;
  color: white;
}

header h2 {
  position: relative;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 0.3rem;
  width: 250px; /* Задайте желаемую ширину */
  text-align: left;
  text-indent: 0.3rem; /* Центрируйте текст внутри (опционально) */

  font-size: 1em;
  font-style: italic;
  font-weight: normal;
  margin-left: 45%;
  color: white;
}

.logo {
  position: relative;
  right: 70px;
}
.logo img {
  width: 35px; /* Задаем ширину изображения корзины */
  height: auto;
  color: white; /* Автоматически рассчитываем высоту для сохранения пропорций */
}

.left {
  display: flex; /* Включает flex-контейнер */
  align-items: left;
  margin-top: 50px;
  margin-left: 40px;
}
.text {
  max-width: 500px; /* Задайте максимальную ширину */
  width: auto;
  font-size: 20px;
}

.gallery {
  display: flex;
  flex-direction: column; /* Большое фото сверху, thumbnails снизу */
  align-items: flex-end; /* Выравнивание по правому краю */
  margin-top: -230px; /* Отрицательный margin-top для поднятия всей галереи */
  margin-right: 250px; /* Отрицательный margin-right для сдвига влево */
}

.large-image {
  max-width: 120%; /* Чтобы не выходило за границы gallery */
  height: auto;
  margin-bottom: 15px; /* Увеличиваем отступ снизу большого фото для большего расстояния до маленьких */
}

.thumbnails {
  display: flex;
  margin-right: -20px;
  margin-top: 20px; /* Уменьшаем отступ сверху thumbnails */
  margin-left: 200px; /* Уменьшаем левый margin, чтобы сдвинуть левее */
  padding: 10px;
  padding-right: 10px;
  justify-content: flex-start; /* Выравниваем маленькие фото слева и распределяем между ними пространство */
}

.thumbnails img {
  width: 120px; /* Примерная ширина маленьких фото */
  height: auto;
  margin-left: 12px; /* Увеличиваем расстояние слева между маленькими фото */
  margin-right: 12px;
  /* Увеличиваем расстояние справа между маленькими фото */
}

footer {
  display: flex;
  flex-direction: column; /* Включает flex-контейнер */
  align-items: left;
  margin-top: -205px;
  margin-left: 40px;
  font-size: 20px;
}

.size button,
.quantity button {
  border: 2px solid rgb;
  border-radius: 0.1rem;
  background: #ebe5e5b3;
  width: 50px;
  height: 50px;
  font-size: 1.1rem;
  margin-top: 0;
  margin-left: -3px; /* Убираем левый отступ */
  margin-right: -3px;
}

.size span,
.quantity span {
  display: block; /* Размещает надпись "Size:" и "Quantity:" над кнопками */
  position: relative; /* Делаем span относительно позиционированным */
  top: 15px; /* Сдвигаем надпись на 5px вниз */
}

.btn {
  border: 2px solid black;
  border-radius: 1rem;
  padding: 0.5rem;
  background: rgba(68, 66, 66, 0.7);
  width: max-content;
  margin-left: 1000px;
  height: 5%;
  width: 7%;
  margin-top: -40px;
  font-size: 20px;
  text-align: center;

  color: white;
  position: fixed;
  bottom: 30%;
}
